.form {
  max-width: 425px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
  border-radius: 7px;
  padding: 24px;

  .title {
    font-family: 'Helvetica';
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 25px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      font-family: 'Helvetica';
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      color: #303030;
      margin-bottom: 4px;
      text-transform: uppercase;
    }

    input {
      background: #F9FAFB;
      border: 1px solid #DEDEE0;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 19px 13px;
      font-family: 'Helvetica';
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.4px;
      color: rgba(102, 102, 102, 0.466455);

      &:focus,
      &:active{
        border: 1px solid #DEDEE0;
        outline: none;
      }
    }
  }

  .password-block {
    width: 100%;
    position: relative;

    input {
      width: 100%;
    }

    svg {
      position: absolute;
      top:50%;
      right:20px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}